.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
In-class_Ex/In-class_Ex1/data
In-class_Ex/In-class_Ex1/data/*
/In-class_Ex/In-class_Ex1/data
/In-class_Ex/In-class_Ex1/data/*
In-class_Ex1/data
In-class_Ex1/data/*

data/
*/data/
*/data/*